alyona/npm-debug.log
alyona/node_modules/
alyona/build/
alyona/package.json

olga/npm-debug.log
olga/node_modules/
olga/public/
olga/local/
olga/access.log

yana/npm-debug.log
yana/node_modules/
yana/access.log
