body {
    font-family: 'Segoe UI', sans-serif;
    background-color:rgb(33, 46, 37);
    padding: 10px 15px 30px 15px;   
    font-Size:18px;
    color:white
}

tr,td {
    border: 1px solid black;
    
}

.section-title {
   color:rgb(175, 175, 175);
   font-size: 20px;
   font-weight: bold;
   padding: 0px 0px 10px 0px;

}

.section-waiting {
   color:rgb(175, 175, 175);
   font-size: 18px;

}